In [17]:
import pandas as pd
import numpy as np
import pickle
from sklearn import preprocessing, model_selection, neighbors
from sklearn.preprocessing import LabelEncoder

In [19]:
df = pd.read_csv('car.data')
print('initial dataframe: ')
print(df)
le = LabelEncoder()
for column in df.columns:
    df[column] = le.fit_transform(df[column])
print('dataframe after encoding: ')
df

initial dataframe:
     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1724    low    low  5more    more      med    med   good
1725    low    low  5more    more      med   high  vgood
1726    low    low  5more    more      big    low  unacc
1727    low    low  5more    more      big    med   good
1728    low    low  5more    more      big   high  vgood

[1729 rows x 7 columns]
dataframe after encoding:

      buying  maint  doors  persons  lug_boot  safety  class
0          4      4      0        0         3       1      3
1          4      4      0        0         3       2      3
2          4      4      0        0         3       0      3
3          4      4      0        0         2       1      3
4          4      4      0        0         2       2      3
...      ...    ...    ...      ...       ...     ...    ...
1724       2      1      3        2         2       2      2
1725       2      1      3        2         2       0      4
1726       2      1      3        2         0       1      3
1727       2      1      3        2         0       2      2
1728       2      1      3        2         0       0      4

[1729 rows x 7 columns]

In [21]:
x = np.array(df.drop(['class'], axis=1))
y = np.array(df['class'])
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size=0.2)
clf = neighbors.KNeighborsClassifier()
clf.fit(x_train, y_train)
# with open('KNN2.pickle', 'wb') as file:
#     pickle.dump(clf, file)
# pickle_in = open('KNN2.pickle', 'rb')
# clf = pickle.load(pickle_in)                                        
accuracy = clf.score(x_test, y_test)
print(accuracy)

0.8786127167630058

In [26]:
test_case = np.array([ [4,4,0,0,3,1], [4,3,1,1,4,2], [4,4,4,4,1,1], [3,3,3,1,4,4] ])
test_case = test_case.reshape(len(test_case), -1)
prediction = clf.predict(test_case)
prediction

array([3, 3, 3, 0])