In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, model_selection, neighbors
import pickle

In [3]:
df = pd.read_csv('breast-cancer-wisconsin.data')
df.replace('?', -99999, inplace=True)
df.drop(['id'], axis= 1,inplace=True)
df
#In the dataset in class column there are two classes '2' & '4'. 2 represents benign and 4 represents malignant

,clum_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

In [5]:
#Defining features and label
#label = class and all other columns are features
x = np.array(df.drop(['class'], axis=1))
y = np.array(df['class'])
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size= 0.2)
clf = neighbors.KNeighborsClassifier()
clf.fit(x_train, y_train)                                                                                                                                                                                    
  
  
#PICKLING IF NECESSARY< NOT NECESSARY HERE
# with open('KNN1.pickle', 'wb') as file:
#     pickle.dump(clf,file)
pickle_in = open('KNN1.pickle', 'rb') 

clf = pickle.load(pickle_in)
accuracy = clf.score(x_test, y_test)
accuracy

0.9785714285714285

In [6]:
#creating a random data row to testing whether it belongs to class '2' or '4'
example_measure = np.array([[4,2,1,1,1,2,3,2,1], [4,3,1,1,2,2,3,2,1], [4,1,2,2,3,2,3,2,2]])
example_measure = example_measure.reshape(len(example_measure),-1)
prediction = clf.predict(example_measure)
print(prediction, accuracy)
#SO the predicted class for the given example measure is 2 for all 3 inputs.

[2 2 2] 0.9785714285714285